@inject IJSRuntime JS

<div class="row">
	<div class="col-md-4">
		<h5 class="modal-title">Genres</h5>
		<select class="w-100" id="@Id" @onchange="@OnItemSelected">
			<option class="d-none" selected disabled hidden value="">
				Select @ItemType
			</option>
			@foreach (var item in AvailableItems)
			{
				<option value="@item">@item</option>
			}
		</select>
	</div>

	<div class="col-md-8 row mt-1 mb-1">
		@foreach (var item in Items)
		{
			<button class="btn btn-primary btn-xs rounded-pill col-md-6"
				@onclick="@(() => OnItemRemoved(item))">
				@item
				<span class="float-end">
					🗙
				</span>
			</button>
		}
	</div>
</div>

@code {
	[Parameter]
	public IEnumerable<string> AvailableItems { get; set; } = Enumerable.Empty<string>();
	public string Id => ItemType + "Select";
	[Parameter]
	public EventCallback<string> ItemRemoved { get; set; }
	[Parameter]
	public IEnumerable<string> Items { get; set; } = Enumerable.Empty<string>();
	[Parameter]
	public EventCallback<ChangeEventArgs> ItemSelected { get; set; }
	[Parameter]
	public string? ItemType { get; set; }

	private async Task OnItemSelected(ChangeEventArgs e)
	{
		await ItemSelected.InvokeAsync(e).ConfigureAwait(false);
		await JS.InvokeVoidAsync(JSMethods.ResetSelectedIndex, Id).ConfigureAwait(false);
	}

	private Task OnItemRemoved(string item)
		=> ItemRemoved.InvokeAsync(item);
}
