@page "/jsoneditor"
@inject HttpClient Http
@inject IJSRuntime JS

<PageTitle>Json Editor</PageTitle>

<div class="row">
	<div class="col-8" id="@IDs.JsonEditor" />
	<div class="col-4">
		<MudTextField ReadOnly="true" Variant="Variant.Outlined" Lines="33"
			Class="@(ShowDefaultJson ? "d-none" : "")"
			Label="Output Json" @bind-Value="@Json"
		/>
		<MudTextField ReadOnly="true" Variant="Variant.Outlined" Lines="33"
			Class="@(ShowDefaultJson ? "" : "d-none")"
			Label="Default Json" @bind-Value="@DefaultJson"
		/>
		<div class="mb-2">
			<MudButton Color="Color.Primary" Size="Size.Small" OnClick="@ToggleShowDefaultJson">
				@(ShowDefaultJson ? "Show Current Json" : "Show Default Json")
			</MudButton>
		</div>
		<MudTextField ReadOnly="true" Variant="Variant.Outlined" Lines="10" 
			Label="Validation Errors" @bind-Value="@Errors"
		/>
	</div>
</div>